# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build files
dist/
build/

# Environment variables
.env
.env.local

# Executable files (too large for GitHub)
*.exe
