# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build files
dist/
build/

# Environment variables
.env
.env.local

# Executable files (exclude all except the setup installer)
*.exe
!Quick Wrap Setup 1.2.0.exe
